setup/arm-2011.03-41-arm-none-linux-gnueabi.exe
setup/ActivePerl-5.16.3.1603-MSWin32-x86-296746.msi
setup/MectConfigurator
setup/Fonts
setup/*.7z
setup/*.exe
moc_*
ui_*
qrc_*
*.obj
*.o
*.pro.user
*.so
*.Debug
*.Release
Makefile